@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #ededed;        /* cor do texto */
  background: #0a0a0a;   /* fundo preto fixo */
  font-family: Arial, Helvetica, sans-serif;
}
